<div class="container">

  <h1><%= @task.title %></h1>

  <div class="details">
    <p><%= @task.details %></p>
  </div>

  <div>
    <% if @task.completed %>
    <p><i class="far fa-check-circle completed">This task is completed</i></p>
    <% else %>
    <p><i class="far fa-circle not-completed"></i>This task it not yet completed</p>
    <% end %>
  </div>

  <div class="btn btn-warning">
    <%= link_to task_edit_path do %>
      <i class="fas fa-edit"></i>
      <p>Update</p>
    <% end %>
  </div>

  <div class="btn btn-danger">
    <%= link_to task_path(@task),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash"></i>
        <p>Delete</p>
    <% end %>
  </div>

  <div class="btn btn-dark">
    <%= link_to tasks_path do %>
      <i class="fas fa-home"></i>
      <p>Back to Tasks</p>
    <% end %>
  </div>
</div>



